body {
	margin: 0;
	font-family: "Sans serif";
	background-color:aqua;
}


header {
	
	padding: 5px;
	background-color:black;
	height: 51px;
	padding-bottom: 30px;
	

}
 .logo  {
	 padding-left: 20px;
	 margin: 10px;
	 width: 100px;
	 height:100px;
	float:left;
	
}

 .bran {
	 padding-top: 20px;
	text-align: left;
	 color: white;
    font-size: 25px;
	
}
nav {
	text-align: center;
	background-color: grey;
	padding: 20px;
	margin: 50px;
	max-width: 100%;
}

nav  a { 
	font-weight: bold;
	color: white;
	margin: 20px;
	font-size: 18px;
	text-decoration: none;


 }
 nav  a:hover {
	color:black;
	transition: all 500ms ease-out;
}
li {
	list-style: none;
}
.container {
	text-align: center;
}
form {
	text-align: center;
}

table {
	padding: 30px 0 30px 0;
     margin: auto;
	font-size: 25px;
}
tr{
	text-align: center;
}
th{
	width: 190px;
}
#name {
	color:white;
	background-color: #F96D70;
	
}
.grey {
	background-color:#7B7B7B;
}

footer { 
	background-color: aliceblue;
   text-align: center;
    border-top: 1px solid black;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 10px;
}